*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
body,html{
    background-color: transparent;
    text-align: center;
    font-family:Helvetica, sans-serif;
    color:#333;
}
h1,h2,h3{
    font-weight: normal;
}
ol,ul{
    list-style: none;
}
#topwrap{
    position:fixed;
    z-index:3;
}
.m-hometop{
    width:100vw;
    height:17.1vw;
    position:relative;
}
.m-hometop .topfix{   
    width:100%;
    height:100%; 
    top:0;
    left:0;
    padding:0 2.7vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    background: #d43c33;
}
.m-hometop .topfix .topsvg{
    width:37.86vw;
    height:6.7vw;
}
.m-hometop .topfix .topapp{
    width:21.3333vw;
    height:8.5vw;
    font-size:4vw;
    border-radius: 10vw;
    line-height: 8.5vw;
    background: transparent;
    border:1px solid white;    
}
.m-hometop .topfix .topapp a{
    width:100%;
    text-decoration: none;
    color:white;
}
/**/
.m-homenav{
    position:relative;
    top:0;
    left:0;   
}
.m-homefooter .footwrap {
    padding-bottom: 5.333333vw;
}
.m-homenav ol{
     display:flex;
     justify-content: space-around;
     align-items: center;
     width:100%;
     height:11vw;
     line-height: 11vw;
     background: white;
     border-bottom: 1px solid rgba(0,0,0,0.1)
}
.m-homenav ol>li{
    width:33.3333%;
    height:100%;
}
.m-homenav ol>li div{
    position:relative;
    display:inline-block;
    padding:0 1.5vw;
    font-size: 4vw;
}
.m-homenav li.active span{
    color:#d33a31;
}
.m-homenav li.active span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1.06668vw;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background: #d33a31;
}

/*内容展示区*/
#container{
    position:absolute;
    top:28.1vw;
    z-index:1;
}
#container > li{
    display:none;
}
#container > li.active{
    display:block;
}
#container #musicShow{
    margin-top: 5.333333vw;
}
h2{   
    position: relative;
    padding-left: 2.4vw;
    margin-bottom: 3.73338vw;
    font-size: 4.5333333vw;
    height:5.33334vw;
    line-height: 5.33334vw;
    text-align:start;
}
h2::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.4vw;
    width: 0.52vw;
    height: 4.26667vw;
    background-color: #d33a31;
}

.playlists{
    //position:relative;
    
}
.playlists ul{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.playlists ul li{
    width:33%;
    margin-bottom: 4.26667vw;
}
.playlists ul li a{
    text-decoration: none;
    color:inherit;
}
.playlists ul li a div{
    position: relative;
    
}
.playlists ul li a div span{
    position: absolute;
    right: 1.3335vw;
    top: 0.52vw;
    z-index: 3;
    padding-left: 3.46667vw;
    color: #fff;
    font-size: 3.2vw;
    background: url(https://ooo.0o0.ooo/2017/06/26/5950eb9b24a82.png) 0 no-repeat;
    background-size: 2.93337vw 2.66667vw;
    text-shadow: 1px 0 0 rgba(0,0,0,.15);
}
.playlists ul li a div::after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:5.33334vw;
    z-index: 2;
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),transparent);
}
.playlists ul li a img{
    width:100%;
    vertical-align: bottom;
}
.playlists ul li a p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1.6vw 0.52px 0 1.6vw;
    line-height: 1.2;
    font-size: 3.466667vw;
    text-align: start;
}

h2.latestMusicTitle{
    margin-top:6.4vw;
}

.latestMusic{}
.latestMusic li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(0,0,0,0.1);
    padding:1.6vw 2.6667vw;
}
.latestMusic li a{
    text-decoration: none;
    color:inherit;
}
.latestMusic li a h3{
    font-size:4.5333333vw;
    text-align: start;
    margin-bottom: 0.8vw;
}
.latestMusic li a p{
    font-size: 3.2vw;
    color: #888;
    text-align: start;
}
.latestMusic li p img{
    width: 3.733333vw;
    height:2.133336vw;
    margin-right:1.666668vw;
}
.latestMusic li .icon-link-play{
    width:7.2vw;
    height:7.2vw;
    fill:#AAAAAA;
}
/*hotMusicPage*/
#hotMusicPage{
    position:relative;
    width:100vw;
    height:100%;
}
#hotMusicPage .hotop{
    width:100%;
    padding-top: 38.9%;
   overflow: hidden;
   background: url(https://ooo.0o0.ooo/2017/07/01/5957831d99acf.jpg) no-repeat;
   background-size: contain;
   z-index:2;
}
#hotMusicPage .hotop::after{
    content:'';
    position:absolute;
    z-index: 1;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.2);
}
#hotMusicPage .hotop .hotoppct{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
   display:flex;
   flex-direction: column;
   justify-content: center;
   z-index:2;
   padding-left:20px;
}
#hotMusicPage .hotop .hotoppct .hoticon{
    background: url(https://ooo.0o0.ooo/2017/07/01/595785d1932a5.png) no-repeat;
    width: 142px;
    height: 67px;
    background-position: -24px -30px;
    background-size: 166px 97px;
}
#hotMusicPage .hotop .hotoppct .hottime{
    margin-top:10px;
    color:hsla(0,0%,100%,.8);
    font-size:12px;
    transform:scale(0.91);
    transform-origin:left top;
    text-align: start;
}
/*json*/
.hotcontent{
    position:absolute;
    width:100vw;
}
.hotcontent ol li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:0.5px solid rgba(0,0,0,0.1);
    padding:1.6vw 2.6667vw;
}
.hotcontent ol li .hrefSong{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color:inherit;
    position:relative;
}
.hotcontent ol li .hrefSong .songId{
    color:#df3436;
    font-size:17px;
    width:32px;
    text-align: start;
}
.hotcontent ol li .hrefSong .songerInfo{
    width:100%;
}
.hotcontent ol li .hrefSong .songerInfo h3{
    font-size:4.5333333vw;
    text-align: start;
    margin-bottom: 0.8vw;
}
.hotcontent ol li .hrefSong .songerInfo p{
    font-size: 3.2vw;
    color: #888;
    text-align: start;
}
.hotcontent ol li .hrefSong .songerInfo p img{
    width: 3.733333vw;
    height:2.133336vw;
    margin-right:1.666668vw;
}
.hotcontent ol li .hrefSong .songerInfo p span{

}

.hotcontent ol li .hrefSong .icon-link-play{
    width:8vw;
    height:8vw;
    fill:#AAAAAA;
}
#hotMusicPage .hotdn{
    height: 55px;
    line-height: 55px;
    text-align: center;
}
#hotMusicPage .hotdn .hotview {
    color: #999;
    background-size: 7px 12px;
    font-size:14px;
}
#hotMusicPage .hotdn img{
    width:20px;
    transform:translateY(20%);
}
/*searchPage*/
#searchPage{
    margin-top: 5.333333vw;
}
#searchPage .inputcover{
    width:94vw;
    padding:0 30px;
    height:30px;
    background:#EBECEC;
    border-radius:30px;
    margin-left:3vw;
    margin-right:3vw;
    position: relative;
}
#searchPage .inputcover input{
    width:100%;
    background: transparent;
    height:30px;
    line-height: 30px;
    font-size:14px;
    color:#333;
    border:none;
}
.inputcover img{
    width:13px;
    height:13px;
    position:absolute;
    left:10px;
    top:50%;
    transform: translateY(-50%);
}
#searchPage .inputcover input:focus{
    outline:0;
}
#searchPage .inputcover #output{
    text-align: start;
    margin-top:10px;
}
#searchPage .inputcover #output li{
    display:flex;
    align-items: center;
}
#searchPage .inputcover #output li a{
    text-decoration: none;
    color:inherit;
    width:100%;
}
/*footer*/
.m-homefooter{
    position: relative;
    margin-top:1.06668vw;
    background: url(https://ooo.0o0.ooo/2017/06/26/5951138b06347.png) no-repeat;
    background-size: cover;
}
.m-homefooter .footwrap{

}
.m-homefooter .footwrap .logo{
    padding-top:16.9%;
}
.m-homefooter .footwrap .logo .logosvg{
    width: 61.3vw;
    height: 11.73vw;
}
.m-homefooter .footwrap .openapp{
    line-height: 10.133333vw;
    border: 1px solid #d33a31;
    border-radius: 10.133333vw;
    font-size: 4.266667vw;
    color: #d33a31;
    margin: 4vw 10.1vw 5px;
}
.m-homefooter .footwrap .copyright{
    color: #888;
    font-size: 3.2vw;
    line-height: 4.2666667vw;
    -webkit-transform: scale(.75);
    transform: scale(.75);
}




